# Function Tasks 


Welcome Recruit! Let's see if you can solve these word problems by creating functions. The function "skeleton" has been set up for you to fill in below the problem description, as well as example outputs of what the function should return given certain inputs. Best of luck, some of these will be challenging! 

The tasks will start off easy and proceed to get harder and harder.

## Task 1

** Create a function that takes in two integers and returns True if their sum is 10, False if their sum is something else. **

In [ ]:
def check_ten(n1,n2):
    # Code Here

In [ ]:
# Example Inputs and Outputs:

In [2]:
check_ten(10,0)

True

In [3]:
check_ten(5,5)

True

In [4]:
check_ten(2,7)

False

## Task 2

** Create a function that takes in two integers and returns True if their sum is 10, otherwise, return the actual sum value. **

In [5]:
def check_ten_sum(n1,n2):
    # Code Here

In [ ]:
# Example Inputs and Outputs:

In [8]:
check_ten_sum(10,0)

True

In [9]:
check_ten_sum(2,7)

9

## Task 3

Create a function that takes in a string and returns back the first character of that string in upper case.

In [ ]:
def first_upper(mystring):
    # Code Here

In [ ]:
# Example Inputs and Outputs:

In [11]:
first_upper('hello')

'H'

In [12]:
first_upper('agent')

'A'

## Task 4

**Create a function that takes in a string and returns the last two characters. If there are less than two chracters, return the string:  "Error". [Use this link if you need help/hint.](https://stackoverflow.com/questions/7983820/get-the-last-4-characters-of-a-string)**

In [19]:
def last_two(mystring):
    # Code Here

In [3]:
# Example Inputs and Outputs:

In [20]:
last_two('hello')

'lo'

In [21]:
last_two('hi')

'hi'

In [22]:
last_two('a')

'Error'

## Task 5

** Given a list of integers, return True if the sequence [1,2,3] is somewhere in the list. Hint: Use slicing and a for loop. **

In [1]:
def seq_check(nums):
    
    # Code here

In [4]:
# Example Inputs and Outputs:

In [2]:
seq_check([1,2,3])

True

In [4]:
seq_check([7,7,7,1,2,3,7,7,7])

True

In [5]:
seq_check([3,2,1,3,2,1,1,1,2,2,3,3,3])

False

## Task 6

** Given a 2 strings, create a function that returns the difference in length between them. This difference in length should always be a positive number (or just 0). Hint: Absolute Value.**

In [27]:
def compare_len(s1,s2):
    # Code Here

In [5]:
# Example Inputs and Outputs:

In [28]:
compare_len('aa','aa')

0

In [29]:
compare_len('a','bb')

1

In [30]:
compare_len('bb','a')

1

## Task 7

** Given a list of integers, if the length of the list is an even number, return the sum of the list. If the length of the list is odd, return the max value in that list. **

In [33]:
def sum_or_max(mylist):
    
    # Code Here

In [6]:
# Example Inputs and Outputs:

In [34]:
sum_or_max([1,2,3])

3

In [35]:
sum_or_max([0,1,2,3])

6

## Task 8

** Agents in the field sometimes need to speak in code. Create a function that takes in a string name (e.g. "James", "Cindy", etc...) and replaces all vowels with the letter x. For our purposes, consider these letters as vowels: [a,e,i,o,u]). Then switch the position of the first and last letters.  **

**This task is challenging, break it down into multiple pieces. **

In [41]:
def replace_and_switch(name):
    
    # Code Here

In [7]:
# Example Inputs and Outputs:

In [42]:
replace_and_switch('James')

'sxmxJ'

In [43]:
replace_and_switch('Cindy')

'yxndC'

In [44]:
replace_and_switch("Alfred")

'dlfrxx'

Excellent work recruit! Later on you will be able to combine multiple functions to create large working pieces of code that accomplish complex tasks!